
body {
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  background-color: #000000;

}

.logo{
  display: flex;
  margin-top: 30%;
  margin-left: 70px;
}

.hello{
  margin-top: 30%;
  margin-left: 65px;
  color: #fff;
}

.navbar {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 253px;
  height: 150vh;
  background-color: #140a48;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 30%;
}

.navbar li {
  margin-bottom: 10px;
  margin-left: 20%;
  margin-top: 30px;
  
}

.navbar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

.navbar a:hover {
  background-color: #140a48;
  
}
#myChart2{
  color: white;
  display: flex;
  background-color: black;
  margin: 0;
  padding: 50px 0 0 0;  
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin: auto;
  
}

.titulo-grafico{
  display: block;
  text-align: center;
}
.tabela-wrapper {
  display: flex;
  justify-content: center;
}

.tabela-nome {
  border-collapse: collapse; /* Colapsa as bordas das células */
  width: 50%; /* Define a largura da tabela */
  
}

.tabela-nome td {
  border: 1px solid rgb(255, 255, 255); /* Define uma borda de 1px para as células */
  padding: 8px; /* Define um espaçamento interno de 8 pixels para as células */
  text-align: center; /* Centraliza o texto nas células */
}

.tabela-nome tr:first-child {
  font-weight: bold; /* Define o texto da primeira linha em negrito */
}
 