body {
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    background-color: #000000;
  
}

.logo{
    display: flex;
    margin-top: 30%;
    margin-left: 70px;
  }

  .hello{
    margin-top: 30%;
    margin-left: 65px;
    color: #fff;
  }

  .navbar {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 253px;
    height: 150vh;
    background-color: #140a48;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 30%;
  }
  
  .navbar li {
    margin-bottom: 10px;
    margin-left: 20%;
    margin-top: 30px;
    
  }
  
  .navbar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .navbar a:hover {
    background-color: #140a48;
    

  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-left: 30%;
  }
  
  .story {
    font-size: 18px;
    line-height: 1.5;
  }
  .image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .box {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(249, 249, 249, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #000000;
    margin-left: 36%;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  button {
    font-size: 16px;
    padding: 8px 16px;
  }
  
  #result {
    font-size: 18px;
  }

  .bt_estilizado{
    background: #ec00fc;
    background: -moz-linear-gradient(-45deg, #ec00fc 0%, #44cfec 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ec00fc), color-stop(100%, #44cfec));
    background: -webkit-linear-gradient(-45deg, #ec00fc 0%, #44cfec 100%);
    background: -o-linear-gradient(-45deg, #ec00fc 0%, #44cfec 100%);
    background: -ms-linear-gradient(-45deg, #ec00fc 0%, #44cfec 100%);
    background: linear-gradient(135deg, #ec00fc 0%, #44cfec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec00fc', endColorstr='#44cfec', GradientType=1);
    /*Ferramenta de Clip-path maker (estilizar o botão)*/
    clip-path: polygon(90% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
  }