
body {
  background-image: url(fundo_quiz.jpg);
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
  display: flex;
  margin-top: 30%;
  margin-left: 70px;
}

.hello{
  margin-top: 30%;
  margin-left: 65px;
  color: #fff;
}

.navbar {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 253px;
  height: 150vh;
  background-color: #140a48;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 30%;
}

.navbar li {
  margin-bottom: 10px;
  margin-left: 20%;
  margin-top: 30px;
  
}

.navbar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

.navbar a:hover {
  background-color: #140a48;
  
}

  /* Quiz */
  
  .quiz{
    text-align: center;
    margin-top: 12%;
    margin-left: 150px;
  }
  
  h1 {
    color: hsl(0, 0%, 0%);
    font-style: italic;
    font-size: 35px;
  }
  
 #character-image {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }
  
 #character-input {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .final_resultado{
    color: black;
    text-shadow: 
    -1px -1px 0px white, 
    -1px 1px 0px white,                    
     1px -1px 0px white,                  
     1px 0px 0px white;
  
  }
 